<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.multidb.auto.dao.MbAddressMapper">
  <resultMap id="BaseResultMap" type="com.example.multidb.auto.entity.MbAddress">
    <!--@mbg.generated-->
    <!--@Table mb_address-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="address_id" jdbcType="BIGINT" property="addressId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="country_name" jdbcType="VARCHAR" property="countryName" />
    <result column="country_code" jdbcType="INTEGER" property="countryCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="province_code" jdbcType="INTEGER" property="provinceCode" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="city_code" jdbcType="INTEGER" property="cityCode" />
    <result column="detail_adress" jdbcType="VARCHAR" property="detailAdress" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, address_id, user_id, mobile, country_name, country_code, province_name, province_code, 
    city_name, city_code, detail_adress
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from mb_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from mb_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.multidb.auto.entity.MbAddress">
    <!--@mbg.generated-->
    insert into mb_address (id, address_id, user_id, 
      mobile, country_name, country_code, 
      province_name, province_code, city_name, 
      city_code, detail_adress)
    values (#{id,jdbcType=INTEGER}, #{addressId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{mobile,jdbcType=VARCHAR}, #{countryName,jdbcType=VARCHAR}, #{countryCode,jdbcType=INTEGER}, 
      #{provinceName,jdbcType=VARCHAR}, #{provinceCode,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=INTEGER}, #{detailAdress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.multidb.auto.entity.MbAddress">
    <!--@mbg.generated-->
    insert into mb_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="countryName != null">
        country_name,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="detailAdress != null">
        detail_adress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null">
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="detailAdress != null">
        #{detailAdress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.multidb.auto.entity.MbAddress">
    <!--@mbg.generated-->
    update mb_address
    <set>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="countryName != null">
        country_name = #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=INTEGER},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=INTEGER},
      </if>
      <if test="detailAdress != null">
        detail_adress = #{detailAdress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.multidb.auto.entity.MbAddress">
    <!--@mbg.generated-->
    update mb_address
    set address_id = #{addressId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      country_name = #{countryName,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=INTEGER},
      province_name = #{provinceName,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=INTEGER},
      city_name = #{cityName,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=INTEGER},
      detail_adress = #{detailAdress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>